#laberinto {
  display: grid;
  gap: 3px;
  width: fit-content;
  margin: 10px auto;
}

.celda {
  width: 45px;
  height: 45px;
  border-radius: 15px;
}

.pared {
  background-color: red;
  border-radius: 3px;
}

.camino {
  background-color: green;
}

.personaje {
  background-color: yellow;
  border-radius: 50%;
}