
@import url('https://fonts.googleapis.com/css2?family=Loved+by+the+King&display=swap');

#laberinto {
  display: block;
  margin: 10px auto;
  border: 2px solid black; /* para verlo claramente aunque el resto falle */
  width: 400px;
  height: 400px;
  border-radius: 15%;
  box-shadow: 3px solid red;
} 